.red {
  background-color: #fb0004;
}

.yellow {
  background-color: #fff000;
}

.blue {
  background-color: #0000c1;
}

.purple {
  background-color: #6c0372;
}

.green {
  background-color: #03740d;
}

.orange {
  background-color: #ee7000;
}

.black {
  background-color: black;
}

.left-side {
  background-color: green;
}

.right-side {
  background-color: orange;
}

.invisible {
  opacity: 0;
}

.white-text {
  color: white;
}

.anton {
  font-family: "Anton", sans-serif;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

#timer {
  height: 14%;
}

.teams {
  width: 33.33%;
  height: 50%;
  font-size: 16.5rem;
}

#timer {
  font-size: 6.88rem;
}

.left-side,
.right-side {
  width: 50%;
}
