
* {
  box-sizing: border-box;
  /*font-weight: bold;*/
	font-family: 'Anton', sans-serif;
}
html, body {
  background: #000;
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-style: normal;
  text-decoration: none;
  overflow: hidden
}
.numeros {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 33.33%;
  height: 43%;
  float: left;
  font-size: 330px;
}
#tiempo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 110px;
  color: white;
}