body,
html {
  display: flex;
  flex-direction: column;
  font-family: "Anton", sans-serif;
  height: 100%;
}

.main-container {
  display: flex;
  width: 100%;
  flex: 1;
}

.numeros {
  width: 33.33%;
  height: 50%;
  font-size: 20.63rem;
}

#timer {
  font-size: 6.88rem;
}
