body,
html {
  font-family: "Anton", sans-serif;
}

.main-container {
  flex-grow: 1;
}

.teams {
  width: 33.33%;
  height: 50%;
  font-size: 20.63rem;
}

#timer {
  font-size: 6.88rem;
}

.left-side, .right-side{
  width: 50%;
  height: 100%;
}

