@media screen and (max-width: 600px) {
  .teams {
    width: 33.33%;
    height: 50%;
    font-size: 9rem;
  }

  #timer {
    font-size: 5rem;
  }
}

@media screen and (max-height: 820px) {
  .top-container {
    height: 7.5rem;
  }
}
